[2019-10-03 14:33] KyleTryon opened #5 "Update CircleCI config to automatically pack orb"
The orb was recently updated in this PR to destructure the orb: https://github.com/CircleCI-Public/ruby-orb/pull/4

The CircleCI config currently expects a single orb.yml file. This must be updated to first pack the orb.

To do this, the @orb.yml file and commands and executors folder should be moved to a `src/` directory.

https://github.com/CircleCI-Public/ruby-orb/blob/master/.circleci/config.y

[2019-10-04 15:49] meanmachin3 commented on #5
@KyleTryon  Do you me picking this up ?

[2019-10-04 18:08] meanmachin3 opened #9 "Add issue and pull request templates"
We could add this to have consistency across all other orbs project.  I would like to pick this up. Please consider adding the orbtoberfest label on the issue

[2019-10-06 11:42] amithkk commented on #9
I'll take this!
Please consider adding the orbtoberfest and hacktoberfest tags to this issue

[2019-10-06 13:48] meanmachin3 commented on #9
@amithkk I'm not the maintainer. I'm waiting for the issue to be assigned to me

[2019-10-18 14:09] KyleTryon commented on #5
#8 merged. Thank you @meanmachin3 !

[2019-10-18 14:09] #5 closed

[2019-11-05 22:57] shouichi opened #11 "Add convenience command to restore, install and cache gems"
It would be nice to have a convenience command that restores, installs and cache gems just like node orb does.

[code]

https://circleci.com/orbs/registry/orb/circleci/node#commands-with-cache

If this sounds reasonable, I'm happy to contribute 😄

[2019-11-19 04:44] lokst commented on #9
@amithkk May I check if you are still working on the PR for this issue? It sounds like @meanmachin3 might be interested in working on this too.

[2019-11-20 04:24] amithkk commented on #9
@lokst Oops! I forgot to push my changes into the fork. I believe the latest commit to my PR solves the issue, currently waiting on review.

[2019-11-20 04:59] #9 closed

[2019-12-04 23:50] felicianotech opened #14 "Implement CPE Team Orb CI/CD Process"
We should implement our new system that's formalizing for this orb.

[2020-01-22 21:48] schneems opened #15 "Cannot install Ruby with RVM - Operation not permitted could not set group"
**Orb Version**
The version number of the orb

0.2.1

**Describe the bug**

Build fails while trying to `ruby/install`

[code]

**To Reproduce**

Here's my config.yml

[code]

**Expected behavior**

I pushed and expect to be able to use Ruby 2.5.5. Instead I got an error

**Additional context**
URL of the build: https://circleci.com/gh/heroku/heroku-buildpack-ruby/1033

It's also worth noting that

[2020-02-05 09:24] aldesantis opened #16 "Test results are being stored in the wrong directory"
**Orb Version**
0.2.1

**Describe the bug**
For `circleci tests split` to work, test results should be stored in `test-results/rspec/results.xml`. In 0.2.1, they are being stored in `test-results/rspec.xml` instead.

**To Reproduce**
Run the tests with `ruby/run-tests`.

**Expected behavior**
`circleci tests split` should be able to retrieve timing data accurately.

**Actual behavior**
`circleci t

[2020-04-08 16:16] schneems commented on #15
Any progress here?

[2020-04-17 15:00] olleolleolle opened #17 "bundle install --path is deprecated in Bundler 2.1 versions"
**Orb Version**
0.2.1

**Describe the bug**

"Bug" is a strong word, but in order to be forward-compatible, the `bundle install --path vendor/bundle` should become `BUNDLE_PATH=vendor/bundle bundle install`, instead.

**To Reproduce**

Read orb source around line 40 for the `bundle install` command https://circleci.com/orbs/registry/orb/circleci/ruby#orb-source

**Expected behavior**

A `bundle in

[2020-04-27 21:42] lokst commented on #17
This should be addressed in version `0.2.2` now. Thank you @olleolleolle !

[2020-04-27 21:42] #17 closed

[2020-04-28 07:22] olleolleolle commented on #17
Confirmed!

[2020-04-28 15:09] Kuchitama opened #19 "Cannot cache gems if we use `install-deps` with `path` parameter"
**Orb Version**
0.2.2

**Describe the bug**
Cannot save cache when `install-deps` is called with `path` parameter.

**To Reproduce**

1. Call `install-deps` with specific path
1. Call `save-cache`
1. Call `load-cache`

**Expected behavior**

Save cache with specific path

**Additional context**

[2020-04-28 17:46] lokst commented on #19
@Kuchitama Thanks for reporting this. Just to clarify, are you setting `path` to a non-default value?

[2020-05-01 15:20] KyleTryon commented on #11
A little delayed but working on it 👍

[2020-05-01 15:22] KyleTryon commented on #15
Hello Schneems,

I will be updating the orb and will look into this.

[2020-05-01 15:23] KyleTryon commented on #14
On it

[2020-05-01 15:24] KyleTryon commented on #16
I will look into this 👍

[2020-05-01 15:37] KyleTryon commented on #19
I have located the problem and will resolve as a part of the next major update (coming shortly, will update)

[2020-05-04 10:09] olleolleolle commented on #19
For reference `save-cache` has:

[code]

but `load-cache` does not.

[2020-05-05 06:53] fenak opened #20 "Task `run-tests` does not work with Bundler 2.1.4"
**Orb Version**
0.2.2

**Describe the bug**
After the change introduced in #18 the deprecation warning goes away and the gems are installed in the correct path, but at least on `bundler 2.1.4` setting the `BUNDLE_PATH` does not seem to make the configuration persistent, so running `ruby/run-tests` fails as `bundler` can't find the `rspec` executable.

**To Reproduce**
Using `bundler` version 2.1.4

[2020-05-08 21:35] wayneskillz commented on #15
hello @KyleTryon is there

@KyleTryon is there an alternative to get past this error yet?
I'm also experiencing this.

[2020-05-09 15:17] KyleTryon commented on #15
Good news is the Ruby orb will be updated no later than by the end of next week, likely in the first half of next week. We just needed to also update a sample project for proper testing of the orb.

If you'd like to see the current working code it can be found here in the branch I am currently working on.

https://github.com/CircleCI-Public/ruby-orb/blob/OSK_update/src/commands/install.yml

**if h

[2020-05-14 02:51] KyleTryon commented on #11
Hello,

Version 1.0.0 of the Ruby orb has been released.

https://github.com/CircleCI-Public/ruby-orb/releases/tag/v1.0.0
https://circleci.com/orbs/registry/orb/circleci/ruby?version=1.0.0

Checkout the new install-deps command: https://circleci.com/orbs/registry/orb/circleci/ruby?version=1.0.0#commands-install-deps

[2020-05-14 02:52] #11 closed

[2020-05-14 02:52] KyleTryon commented on #14
Hello,

Version 1.0.0 of the Ruby orb has been released.

https://github.com/CircleCI-Public/ruby-orb/releases/tag/v1.0.0
https://circleci.com/orbs/registry/orb/circleci/ruby?version=1.0.0

This new version now includes a proper test and deploy pipeline.

[2020-05-14 02:52] #14 closed

[2020-05-14 02:53] KyleTryon commented on #15
Hello,

Version 1.0.0 of the Ruby orb has been released.

https://github.com/CircleCI-Public/ruby-orb/releases/tag/v1.0.0
https://circleci.com/orbs/registry/orb/circleci/ruby?version=1.0.0

The Ruby installation logic has been updated. Please try updating to 1.0.0 and report back if you continue to experience any issues.

Thank you.

[2020-05-14 02:53] #15 closed

[2020-05-14 02:54] KyleTryon commented on #16
Hello,

Version 1.0.0 of the Ruby orb has been released.

https://github.com/CircleCI-Public/ruby-orb/releases/tag/v1.0.0
https://circleci.com/orbs/registry/orb/circleci/ruby?version=1.0.0

Thank you for your help! This has been resolved.

[2020-05-14 02:54] #16 closed

[2020-05-14 02:56] KyleTryon commented on #19
Hello,

Version 1.0.0 of the Ruby orb has been released.

https://github.com/CircleCI-Public/ruby-orb/releases/tag/v1.0.0
https://circleci.com/orbs/registry/orb/circleci/ruby?version=1.0.0

@olleolleolle I am not actually sure I fully understood the issue you presented. The save_cache step determines what path to cache. The load-cache step will download that cached path and place it directly into

[2020-05-14 02:57] KyleTryon commented on #20
Hello,

Version 1.0.0 of the Ruby orb has been released.

https://github.com/CircleCI-Public/ruby-orb/releases/tag/v1.0.0
https://circleci.com/orbs/registry/orb/circleci/ruby?version=1.0.0

We are now currently testing our orb/sample project against the latest version of bundler. Please upgrade to the new 1.0.0 version of the orb and let us know if you continue to experience any issue. Thank you.

[2020-05-14 02:57] #20 closed

[2020-05-14 22:19] blackjack26 opened #25 "Install-deps caches entire project directory"
**Orb Version**
1.0.0

**Describe the bug**
The `ruby/install-deps` command caches the entire project directory instead the bundle path. Because of this, the cache overrides the code grabbed from the `checkout` step.

**To Reproduce**
1. Add `ruby/install-deps` to the circleci config with caching enabled
   - Add this step after the `checkout` step
2. Run the build
3. Commit new code
4. Run the bu

[2020-05-20 12:56] Samuelfaure commented on #25
Same issue here, thank you for fixing this, since this bug makes the whole orb useless (broken tests will return as false positives)

[2020-05-23 15:06] xiaoronglv commented on #20
I see this error when using Ruby orb 1.0.0

![image](https://user-images.githubusercontent.com/1224077/82733941-05488180-9d4a-11ea-8a65-40b312e6d913.png)

[code]

@KyleTryon

[2020-05-29 04:44] jtannas opened #26 "Feature Request: Support cacheing gems.locked"
**Is your feature request related to a problem? Please describe.**
Bundler is now migrating from `Gemfile`/`Gemfile.lock` to `gems.rb`/`gems.locked`. Using the new naming causes the cacheing to fail due to `Gemfile.lock` not existing.

https://depfu.com/blog/2017/09/06/gemfiles-new-clothes

**Describe the solution you'd like**
Either:
a) preferentially cache `gems.locked`, falling back to `Gemfile

[2020-05-29 18:36] KyleTryon commented on #25
Hey all, thanks for catching this. I can take this issue for our next PR.

[2020-06-02 12:42] dankimio opened #27 "Run default non-rspec tests"
**Describe the solution you'd like**
Something similar to rspec-test, but for built-in Rails tests.

[2020-06-02 14:28] KyleTryon commented on #26
Hey @jtannas,

We unfortunately, can not use any kind of fallback type behavior based on the contents of a directory when determining the cache path. But I appreciate the information/link as I am not a Ruby dev.

We can absolutely allow the changing of the cache key on a parameter though.

It looks as if we could potentially safely assume that the majority of users will be using `gems.locked`.

I

[2020-06-03 07:11] kevinluo201 commented on #19
I'm using
[code]
and build project by
[code]
It doesn't cache

[2020-06-05 02:12] pedrocarmona commented on #25
should be changed
``` bundle install --deployment```

then cache `/home/circleci/project/vendor/bundler`

current workarround is to provide env variable
      GEM_HOME: /home/circleci/project/vendor/bundler

but still all project gets cached, so second workaround is to checkout 2 times

[2020-06-06 10:07] peternixey commented on #25
FWIW you may also want to explicitly set the directory that the gems get installed to. I couldn't make caching work until I dd this before running `bundle install`:

[code]

[2020-06-15 18:50] campbecf opened #30 "History not working between runs"
**Orb Version**
1.0.0

**Describe the bug**

When running `ruby/rspec-test` we consistently get the following message:
[code]

I see the following running after the tests:
[code]

I can confirm this file exists in artifacts.

**To Reproduce**

Unfortunately I don't have a simplified / public reproduction scenario.

**Expected behavior**

For it to be able to use historical information as intended.

[2020-06-16 18:01] josh-m-sharpe opened #31 "'ruby/install' doesn't respect version param"
**Orb Version**
1.0

**Describe the bug**

Followed instructions to have ruby installed.  Ruby not installed.

**To Reproduce**

Use barebones example:
[code]

**Expected behavior**

ruby 2.6.6 would be installed

**Additional context**

It's pretty obvious from the code.  The `install` step doesn't even use the `version` param except in the name of the step.

[2020-06-16 19:37] felicianotech commented on #31
Thank you for editing your GitHub Issue.

Investigating.

[2020-06-16 19:44] felicianotech commented on #31
Confirmed. Working on a fix.

[2020-06-17 15:59] Kuchitama opened #32 "Cache is not working when path is outside of the project directory"
**Orb Version**
The version number of the orb

1.0.0

**Describe the bug**

When I run `ruby/install-deps` with `path: /home/circleci/.gem/ruby/2.5.0`, I get an error in `Restoring cache` and `Storing cache`.

[code]

The error is below.

[code]

**To Reproduce**

Run `ruby/install-deps` with `path: /home/circleci/.gem/ruby/2.5.0`

**Expected behavior**

Succeed `Restoring cache` and `Storing Cach

[2020-06-17 20:54] ksylvest opened #33 "Bundled Dependencies are not Cached Globally"
**Version:** 1.0

**Description:**
The cache key for bundler does not have any fallback.

**To Reproduce**
Open a PR in a new branch. `bundler` does not use any caching.

**Expected behavior**
Caches attempt to restore based on existing cached gems.

Note: this PR fixes - anyone available to review / give feedback?

https://github.com/CircleCI-Public/ruby-orb/pull/28

[2020-06-18 15:14] #31 closed

[2020-06-18 15:28] #33 closed

[2020-06-18 15:54] felicianotech commented on #31
@josh-m-sharpe v1.0.2 of the Ruby orb is now available. It includes the fix for the `install` command (major bug), and a fix/improvement for the `install-deps` command (minor bug).

[2020-06-18 19:22] jtannas commented on #26
Hi @KyleTryon
Sorry for taking so long to get back to you - looks like I missed the notification somehow.

I think most people are still using `Gemfile.lock` since that's still the default when creating a new bundle. Those using `gems.locked` are the early adopters, so they're likely expecting the occasional hiccup anyhow.

I think the most sensible for thing for now would be to default to `Gemfil

[2020-06-26 13:47] #25 closed

[2020-07-01 02:24] teka23 commented on #32
It is fixed in 1.0.4

[2020-07-01 02:24] #32 closed

[2020-07-01 02:25] #19 closed

[2020-07-07 00:02] BrandonMathis opened #39 "Failing to import gpg keys for rvm"
**Orb Version**
1.0.5

**Describe the bug**
Ruby install fails with the following details
[code]

This RVM issue may provide a reason why

https://github.com/rvm/rvm/issues/4215

**To Reproduce**
run ruby/install step

**Expected behavior**
Should import keys with no problem

**Additional context**

[2020-07-15 10:42] andreas-venturini opened #41 "Allow additional fallback cache key when restoring gems"
**Is your feature request related to a problem? Please describe.**
Right now the cache key always consists of at least Gemfile.lock checksum - this means as soon as one gem is added to the bundle the entire cache is invalidated.

https://github.com/CircleCI-Public/ruby-orb/blob/41e9de95182b2742299b4564cf9f58c25f8c415d/src/commands/install-deps.yml#L27-L30

This approach has the advantage that the

[2020-07-16 11:01] andreas-venturini commented on #30
We're observing the same.

The test results seem to be "recognized" by CircleCI - as indicated on the "Tests" tab:

![image](https://user-images.githubusercontent.com/4801917/87663311-e8d22f80-c763-11ea-9d87-f0ba34105eb7.png)

From what I understand these are picked up from the JUnit results.xml (that also contains the timing data).

![image](https://user-images.githubusercontent.com/4801917/87663

[2020-07-21 11:46] lanzhiheng opened #43 "Add rubocop command"
There are too many project protect their code quality by integrating [Rubocop](https://github.com/rubocop-hq/rubocop/blob/master/config/default.yml), It might be a good chance to add associate command in this ORB.

[2020-07-22 10:45] gmemstr commented on #30
I'm not 100% sure this is related directly to the Ruby orb - test timings are typically determined from past results.xml files. I'm curious if this solution here: https://discuss.circleci.com/t/requested-historical-based-timing-but-they-are-not-present/32065/5 is reproducable.

[2020-07-22 11:01] #39 closed

[2020-07-22 11:09] gmemstr commented on #41
This goes along with #26 - it might be worth adding a custom parameter that allows a completely custom cache key. Taking a look at this approach.

[2020-07-22 14:20] andreas-venturini commented on #30
Well, I assumed that if the default config of the `rspec_junit_formatter` gem wasn't changed - the Ruby orb should work out of the box w/ RSpec.

I'm not sure I fully understand the solution from this discussion. Here is an extract from the results.xml of a recent run on CircleCI:

[code]

[2020-07-30 01:32] teka23 opened #49 "Monorepo support"
**Is your feature request related to a problem? Please describe.**
Currently, ruby-orb does not support monorepo.

**Describe the solution you'd like**
Add monorepo support.

[2020-08-18 23:34] yuvalgnessin-qz commented on #39
Hello,

I am still seeing this error on version 1.1.1 of the Orb.

[code]

Is there something I'm missing in my setup, or is this simply still an issue?

[2020-08-22 22:27] wildbillcat opened #53 "Add no_output_timeout parameter to rspec-test"
## Describe Request:
I was hoping we could emulate the no_output_timeout from the run command to be on the rspec-test command.
## Examples:
On really large test suites, it will exceed the default 10m timeout that circleci imposes, which will cause it to fail out.

[2020-09-03 13:13] gmemstr commented on #49
@teka23 Would you mind expanding a little bit on this request? What does monorepo support look like?

[2020-09-04 23:26] mattbrictson commented on #41
Another reason for an additional/different key is when building a gem project. Gem projects do not check `Gemfile.lock` into source control. So that means the cache restore step for the `ruby/install-deps` command will always fail, like this:

In a gem project my preference is to restore without the `Gemfile.lock` checksum (since the file does not exist), but then save the cache using the checksum

[2020-09-10 17:47] mockdeep opened #55 "Allow specifying glob for rspec-tests command"
## Describe Request:

We want to collect test coverage from just our "unit" tests, not including end-to-end tests. So we separate them into 2 test phases. It would be nice if we could pass a custom glob pattern in order to separate these out. Right now the `rspec-test` command from the orb only supports running *all* rspec tests. Or we would need to set a custom env variable to exclude tests withi

[2020-09-13 17:30] mockdeep commented on #55
I think there would need to be some way to exclude/include specific test groups:

[code]

Trying to think how that would be implemented, though. It may be easier to be able to pass a `test-files` option:

[code]

I wanted to poke around with implementing this, but I wasn't able to find a way to point to a Github repo for an orb. Is my only option to publish an orb in order to test it?

[2020-10-06 11:47] gmemstr commented on #49
Closing this until we can get a bit more information on what monorepo support would look like :)

[2020-10-06 11:47] #49 closed

[2021-03-09 15:24] CodingAnarchy opened #60 "Bundle --path deprecated in Bundler 2.1+"
## Orb version:

1.1.1

## What happened:

"Bug" is a strong word, but in order to be forward-compatible, the `bundle [cmd]--path` commands should instead be prefixed with something like `bundle config set path '$BUNDLE_PATH'`.

## Expected behavior:

`bundle install` and other `bundle` commands run without issues, instead of throwing this deprecation warning:

[code]

## Additional Information:

[2021-04-12 20:04] schneems opened #63 "Dependencies not installed when using bundler 2.2.15"
## Orb version:

1.1.12

## What happened:

When using Bundler 2.2.15 in my gemfile it `bundle check` even though there's no dependencies installed so it never installs gems.

Here's a commit that fixes it in my project by pinning to a younger bundler version (2.1.4) https://github.com/sharpstone/cutlass/pull/1/commits/a32622ab5bd825f86e9c33808008347a1f420995

From Circle:

[code]

## Expected beh

[2021-04-12 20:07] schneems commented on #63
Failed: https://app.circleci.com/pipelines/github/sharpstone/cutlass/6/workflows/7fc55773-0c80-405d-89e9-20dbe1983a52/jobs/7
Passed: https://app.circleci.com/pipelines/github/sharpstone/cutlass/7/workflows/b189988c-1db6-4eae-97f6-8bf5740f7e97/jobs/9

[2021-04-13 00:54] jasonkarns opened #64 "Allow rspec-test to accept seed parameter"
## Describe Request:

In order to set seed value for repeating a deterministic random test run, one must provide the seed via the command line. The desired feature would allow passing a parameter to the `rspec-test` command that would then send `--seed <SEED>` if the parameter is set.

I've looked into setting the seed via ENV var which would be read by the `spec_helper.rb`. However, rspec does no

[2021-04-17 13:37] jasonkarns commented on #30
I agree. The `rspec_junit_formatter` hasn't had a new release since 2018, so I'm extremely skeptical that this problem lies anywhere other than with circle's own orb.

[2021-05-04 11:14] BytesGuy commented on #60
This is resolved by #61 which has now been merged. Closing this issue

[2021-05-04 11:14] #60 closed

[2021-05-04 13:58] jasonkarns opened #66 "Latest release (according to github) is 0.2.2"
GitHub reports that the latest release is 0.2.2 but there have been at least 12 tags since 0.2.2. (Latest is 1.1.3, I believe)

![image](https://user-images.githubusercontent.com/119972/117014681-0787bf80-acbf-11eb-9208-e7b9929a8c1b.png)

I think the preferred solution is to properly create releases and leverage github's functionality.

But barring that, if GitHub Releases are _not_ going to be us

[2021-05-05 09:14] gmemstr commented on #66
This is sort of a longer-running thing with a lot of our orbs -- we're working on addressing it so that all of our orbs are tagged when released, but it's in a bit of disarray depending on the age of the orb. Previously, tags were the trigger for orb releases, but this is no longer the case.

[2021-05-05 20:05] jasonkarns commented on #66
@gmemstr in the interim, I would propose that the Releases section be hidden from the repo main page, since it's not presenting an accurate view of the current release

[2021-05-06 11:02] sdahlbac opened #67 "Use gemspec instead of Gemfile.lock"
## Describe Request:

In a repo that is released as a gem, I do not have a Gemfile.lock checked in, but I would like to use checksum  of `foo.gemspec` as part of the cache key.

The normal case is still Gemfile.lock so the gemspec could be used as a fallback, or at least have a way of using `with-cache: true` without having a Gemfile.lock

## Examples:

## Supporting Documentation Links:

[2021-05-07 02:10] mkly opened #68 "Add warning for attempting to split by test timing when parallelism is set to 1"
## Describe Request:
CircleCI CLI test splitting by timing has a somewhat cryptic error is parallelism is set to 1

[code]

We can check `$CIRCLE_NODE_TOTAL > 1` and output a warning the split by test timings requires parallelism to generate historical timing data.

## Supporting Documentation Links:
https://circleci.com/docs/2.0/parallelism-faster-jobs/#splitting-by-timing-data

[2021-05-20 09:15] kieran-osgood opened #69 "Errors on non circle images - runs as root and sources wrong bash profile"
## Orb version:
0.2.2
## What happened:
There's seems to be an issue with the installation when using non-circle provided images as it will attempt to source the bash profile from root providing this error:
[code]

I'd contacted circle support and this was the response:
[code]

## Expected behavior:
Conditional logic to select the correct bash profile and run it at such

[2021-06-11 20:05] floehopper commented on #39
@BrandonMathis @yuvalgnessin-qz Did either of you get to the bottom of this - I'm seeing it regularly with `circleci/ruby@1.1.3` orb on `circleci/ruby:2.6.3-stretch` image, e.g. in [this build](https://app.circleci.com/pipelines/github/floehopper/introspection/46/workflows/8e002c14-2111-42ad-80c1-07c7620e8e06/jobs/342).

[2021-06-12 00:18] yuvalgnessin-qz commented on #39
@floehopper I did not, I chose to stop using the ruby orb and use one of circel's ruby images instead:
[code]

[2021-06-12 07:21] floehopper commented on #39
👍

[2021-06-22 02:47] josh-m-sharpe opened #70 "should be able to configure the keyserver used in gpg commands"
## Describe Request:

gpg takes a flag: `--keyserver hkp://pool.sks-keyservers.net`
Allow me to set that with a parameter to the install step in the event the default server has fallen over and blocks all builds like it is right now.

## Examples:

## Supporting Documentation Links:

`man gpg`

[2021-06-22 14:29] tetienne commented on #49
Instead of opening a new issue, I think I can up this one @gmemstr. In my company we are using a monorepo, meaning we have a structure like this:

[code]

Our Gemfile is within the backend folder.This orb assumes Gemfile is at the root of the repository, which is not the case here.

[2021-06-22 23:36] takezoe opened #71 "sks-keyservers isn't available so ruby-orb doesn't work at all"
## Orb version:

1.1.3

## What happened:

sks-keyservers that is used in ruby-orb isn't available.

[code]

## Expected behavior:

ruby-orb should use an available keyserver instead.

## Additional Information:

An option that is suggested in https://github.com/CircleCI-Public/ruby-orb/issues/70 would be helpful to avoid stuck in this situation.

[2021-06-23 01:15] josh-m-sharpe commented on #71
This.

[2021-06-23 02:14] josh-m-sharpe commented on #71
fixed https://github.com/CircleCI-Public/ruby-orb/pull/72

[2021-06-23 02:17] josh-m-sharpe commented on #71
You can try it if you trust me by using my dev orb:
[code]

![build_android_release__3337__-_YellowstoneApps_mobile_v5](https://user-images.githubusercontent.com/39473/123024748-8fc53f80-d3a7-11eb-998f-42d122887a45.jpg)

[2021-06-23 09:26] takezoe commented on #71
@josh-m-sharpe Great! I hope #72 will become officially available quickly!

[2021-06-23 15:52] gmemstr commented on #71
While I'm not outright against parameterising the keyserver, I do wonder if it's worth doing in the first place, or just hardcoding a known good one (having a default value pretty much does this, but offloads the responsibility to the end user to update it and gives us an out when it comes to updating it).

[2021-06-23 15:53] gmemstr commented on #71
I should note the reason I bring this up is it's not a standard pattern for orbs - granted, I can't think of an instance this has been an issue, so this might be a very specific solution. But I'd rather have a good default hardcoded than offering a config that will never, or very rarely, be changed.

[2021-06-23 16:10] josh-m-sharpe commented on #71
Ah, so this orb wholesale not working for the last few days isn't reason to give end users the ability to circumvent the issue on their own?

[2021-06-23 16:20] gmemstr commented on #71
Either solution requires a configuration update (depending on the configuration's semver level. Patches would be free) -- the tradeoff is between letting a user try to figure out what keyserver to use, or let us validate a good alternative. To you and I this is trivial, but I can't speak for the wider userbase.

Talking to @KyleTryon, we're going to push out a patch to update the keyserver and lea

[2021-06-23 16:21] KyleTryon commented on #71
Agreed, we should be able to patch this while still leaving the option for a parameter available as a minor change (vs this smaller patch change). I'll open a PR now.

[2021-06-23 16:29] KyleTryon commented on #71
PR open for patch. Will submit very shortly but open to opinions: https://github.com/CircleCI-Public/ruby-orb/pull/73

[2021-06-23 16:54] #71 closed

[2021-06-23 16:56] josh-m-sharpe commented on #71
Eh, I think not trusting your users to make (security-related) decisions for themselves is an anti pattern.

From an outsiders perspective... In the few days that CircleCI has effectively been down for me I've banged my head against the somewhat difficult orb-building process and evaluated your competitors.  Things I wouldn't have bothered doing if I could've added a line of yaml and moved on.

[2021-06-23 17:00] josh-m-sharpe commented on #71
Also, fwiw, I did zero due diligence on ubutu's key server.  I hope someone else did before imposing that change on everyone.

[2021-06-23 17:01] KyleTryon commented on #71
Ruby orb version 1.1.4 now available.
https://circleci.com/developer/orbs/orb/circleci/ruby?version=1.1.4

If you have version `1.1` set in your config, you will see this update automatically.

[2021-07-08 14:19] tetienne opened #74 "Add app-dir paramater"
## Describe Request:
In my company we are using a monorepo, meaning we have a structure like this:

[code]

Our Gemfile is within the backend folder. This orb assumes Gemfile is at the root of the repository, which is not the case here. Like the [node orb](https://circleci.com/developer/orbs/orb/circleci/node#commands-install-packages
), an app-dir would be welcome.

## Examples:
[code]

[2021-07-09 21:22] schneems commented on #63
Ping.

[2021-07-12 13:55] josh-m-sharpe commented on #70
The response to this from the circleci team was: "nahhhhh"

https://github.com/CircleCI-Public/ruby-orb/pull/73/files

[2021-07-12 13:55] #70 closed

[2021-07-12 13:58] josh-m-sharpe opened #75 "install steps fails on osx - maybe orbs (in general) need a way to mark which architectures are supported?"
Using 1.1.4 on a macOS container:

[code]

Install steps fails with:

[code]

Fixed by manually doing:

[code]

Shouldn't need to do that.  The plugin should handle it.

After doing that, it fails with:

[code]

[2021-07-14 22:46] bhanutejags opened #76 "Getting version from `.ruby-version`"
## Describe Request:
When no version is specified for `ruby/install`, it would be great if the Ruby version from `.ruby-version` file in the repository is used. This would make sure that, when upgrading the Ruby version of a project, we would only have to make a change in one file.

## Examples:
[code]

## Supporting Documentation Links:
* [The GitHub action for Installing Ruby works the same way.

[2021-07-23 00:40] felicianotech opened #78 "Sometimes `install` doesn't work unless run before the `checkout` step"
There was a customer issue where this occurred. I'm not sure how common this is or why it happened. I'm opening this Issue so that we can give it a second look and determine if this might be a problem.

[2021-08-16 21:32] zspencer commented on #67
Concur, it's not quite clear how this orb is intended to be used in contexts where using [appraisal](https://github.com/thoughtbot/appraisal) without rolling our own cached dependency install.

[2021-08-19 14:41] robfarmergt opened #80 "bundler not utilizing cache"
## Orb version:

circleci/ruby@1.1.4

## What happened:

Even though the cache seems to be restored successfully, bundler fetches gems each time.

## Expected behavior:

bundler should not download gems each time

## Additional Information:

I rerun the workflow and each time bundler downloads gems. No other changes are being made to the branch and the Gemfile.lock remains unchanged.

[code]

![im

[2021-09-14 16:56] nicklozon commented on #80
This is happening to me as well - the cache is empty as signified by the `32 B` size in the first output.

# Investigation
The reason it's empty is because the directory it attempts to cache (`./vendor/bundle`) does not exist - the cache step should fail rather than saving an empty cache.

You can test this yourself by changing the `key` to something different like `gems-v2`. Here is  the save cac

[2021-12-09 17:41] JasonBarnabe opened #81 "Run bundle clean in install-deps"
This is suggested in [the docs](https://circleci.com/docs/2.0/caching/#bundler-ruby) and was part of [this PR](https://github.com/CircleCI-Public/ruby-orb/pull/48#pullrequestreview-488128707).

After `bundle install`, run `bundle clean --force`, because:

And keep the cache smaller.

Or at least make this an option.

[2021-12-15 20:17] JasonBarnabe opened #82 "Do not include branch in cache key for install-deps"
My dev cycle is:

- Create a branch off master
- Make changes (usually without changing gems)
- Commit and push the branch to git
- See test results on CircleCI
- If good, merge to master

Currently, install-deps [bases its cache key](https://github.com/CircleCI-Public/ruby-orb/blob/1f40705ae168f030f1397d4ef2f58ac5d161a757/src/commands/install-deps.yml#L71) on the checksum of Gemfile.lock and the

[2021-12-16 17:55] KyleTryon commented on #74
Resolved in #79

Thank you

[2021-12-16 17:55] #74 closed

[2022-01-06 22:18] nicklozon commented on #80
This issue has been fixed with v1.3.0.

[2022-01-25 13:54] patch0 opened #86 "Test file globbing does not recurse correctly"
## Orb version:

1.4.0

## What happened:

We noticed that test coverage on our Ruby app dropped from ~90% to ~50%.

## Expected behavior:

All tests should be run.

## Additional Information:

I ran the job with SSH, and noticed that `circleci tests glob spec/**/*_spec.rb` wasn't listing all the `_spec.rb` files under `spec/`, but stopping at those in the first level of folders.

Looking back to

[2022-01-31 15:14] davetron5000 opened #87 "Support for Ruby 3.1?"
## Orb version:

1.4.0

## What happened:

Ruby 3.1. cannot be installed:

[code]

## Expected behavior:

Supported and released rubies are available.

## Additional Information:

It looks like this orb relies on RVM which has not released support for 3.1 and doesn't seem like it's planning to anytime soon.  Docker might be a better way to ensure released rubies are available (I realize that is a

[2022-02-01 08:00] sriedel opened #88 "Allow configuration of bundler"
## Describe Request:
Allow for a user supplied bundler configuration to be executed between installing bundler and running `bundle install`.

Example use case: The repository being tested uses a private gem server which requires authorization. Or freezing the bundle before installation.

[2022-02-01 08:05] sriedel opened #89 "Provide a Changelog"
## Describe Request:
A Changelog helps users track what changed between releases, making it easier to discern if the current configuration can be updated as-is or if configuration changes are needed.

## Examples:
1.5.0:
   - Allow users to configure bundler in the install-deps step, implements #88

[2022-02-01 15:15] JasonBarnabe commented on #82
Yes, I understand it will _find_ a previous cache entry in the case where branch name has changed but Gemfile.lock has not. My issue is that it will _store_ a new cache entry for every new branch, because now storage is not free on Circle.

[2022-02-01 15:47] AlecRust commented on #82
Same issue. I have to set `key` as below otherwise I get a new cache for every branch. I would expect this to be the default:

[code]

[2022-02-01 17:14] felicianotech commented on #87
Some info for whoever handles this:

rvm HEAD currently supports Ruby v3.1.0.

[2022-02-04 20:17] xxx commented on #86
I can confirm that the lack of quotes is the issue. I'm working around it with `include: '"spec/**/*_spec.rb"'`  under `ruby/rspec-test` in `config.yml` (i.e. double-quoting)

[2022-02-25 00:21] taki opened #91 "Support --parallel option on rubocop-check command"
## Describe Request:

I want to `--parallel` option on rubocop-check command.

## Examples:

[code]

## Supporting Documentation Links:

- [Basic Usage :: RuboCop Docs](https://docs.rubocop.org/rubocop/usage/basic_usage.html)

[2022-03-11 17:00] KyleTryon opened #92 "Migrate to Orb Tools v11.1"
Migrate to Orb Tools v11.1
https://github.com/CircleCI-Public/orb-tools-orb/blob/master/MIGRATION.md

Taking a quick look at the config, I assume there may be some extra work required when running the migration script due to the heavy usage of anchors and aliases.

[2022-03-25 16:30] rsanheim commented on #86
This s a pretty bad bug to be in the default rspec behavior...as it would be easy to miss that specs in deeper directories is not getting picked up.

Any fixes coming?

[2022-03-25 17:34] rsanheim commented on #86
This is open source, so yes.  Opened a PR 😁  https://github.com/CircleCI-Public/ruby-orb/pull/93

[2022-03-26 00:36] #86 closed

[2022-03-26 00:39] EricRibeiro commented on #86
Fix released in v1.4.1: https://circleci.com/developer/orbs/orb/circleci/ruby?version=1.4.1.

[2022-03-28 23:31] taki opened #94 "panic: runtime error: index out of range [0] with length 0 is occured"
## Orb version:

1.4.1

## What happened:

`panic: runtime error: index out of range [0] with length 0` is occured when ruby/rspec-test is running. Below is yaml.

[code]

## Expected behavior:

There is no panic.

## Additional Information:

I think this [PR](https://github.com/CircleCI-Public/ruby-orb/pull/93) is cause.

[2022-03-30 16:51] EricRibeiro commented on #92
Closes #89.

[2022-03-31 00:55] taki commented on #94
Thank you for reply. Answer is Yes.

[2022-03-31 01:35] EricRibeiro commented on #94
Gotcha. I'll investigate it. Thanks for bringing this to our notice.

[2022-03-31 12:38] #41 closed

[2022-04-05 03:41] EricRibeiro commented on #64
Hi @jasonkarns 👋

I am working on this change, among others, in this PR: https://github.com/CircleCI-Public/ruby-orb/pull/96.

However, I am adding the `order` parameter instead of `seed`. According to the [docs](https://relishapp.com/rspec/rspec-core/docs/command-line/order) you can achieve the same result using `order` and you have additional options. From the documentation:

[code]

Let me know

[2022-04-05 04:31] EricRibeiro commented on #80
Closing since it was fixed.

[2022-04-05 04:31] #80 closed

[2022-04-05 04:37] EricRibeiro commented on #94
I have the fix ready in #96. I am just waiting for the review. However, instead of having the globs separated by space, as in your example, I added support for a comma-separated list:

[code]

This is how we generally support a list of arguments in our orbs, so I tried to keep it consistent. Let me know your thoughts.

[2022-04-05 04:42] EricRibeiro commented on #30
Fixed in #85.

[2022-04-05 04:42] #30 closed

[2022-04-05 04:43] EricRibeiro commented on #55
Feature added in #85.

[2022-04-05 04:43] #55 closed

[2022-04-05 14:51] EricRibeiro commented on #87
Hi @davetron5000 👋

I did some testing and found out that rvm doesn't accept `x.y` semver tags. Hence why `3.1` doesn't work. If you try `x.y.z` (including patch), it will work:

[code]

You can find rvm's releases here: https://www.ruby-lang.org/en/downloads/releases/.

[2022-04-05 14:51] #87 closed

[2022-04-05 17:48] jasonkarns commented on #64
Even better!

[2022-04-08 15:22] #64 closed

[2022-04-08 15:22] #66 closed

[2022-04-08 15:22] #68 closed

[2022-04-08 15:22] #89 closed

[2022-04-08 15:22] #91 closed

[2022-04-08 15:22] #94 closed

[2022-04-08 15:22] #92 closed

[2022-04-08 15:40] EricRibeiro commented on #91
Feature released in [v1.7.0](https://circleci.com/developer/orbs/orb/circleci/ruby?version=1.7.0).

[2022-04-08 15:41] EricRibeiro commented on #68
Feature released in [v1.7.0](https://circleci.com/developer/orbs/orb/circleci/ruby?version=1.7.0).

[2022-04-08 15:41] EricRibeiro commented on #64
Feature released in [v1.7.0](https://circleci.com/developer/orbs/orb/circleci/ruby?version=1.7.0).

[2022-04-11 15:08] EricRibeiro opened #100 "Update the README.md with Orb Tools 11 contribution instructions"
## Describe Request:

The README.md is outdated with Orb Tools 10 specifics.

## Examples:

The [semver](https://github.com/CircleCI-Public/ruby-orb/blob/master/README.md?plain=1#L28) tag isn't supported anymore.

## Supporting Documentation Links:

https://github.com/CircleCI-Public/Orb-Template/blob/main/README.md

[2022-04-11 15:15] #100 closed

[2022-05-18 14:45] #76 closed

[2022-05-19 01:27] kelvintaywl commented on #76
hi @bhanutejags

Thanks for writing in this issue!
We have just merged #102 in, and you can find this available on v 1.8.0:
https://circleci.com/developer/orbs/orb/circleci/ruby?version=1.8.0#commands-install

While it does not have the same developer experience as you have shared, you can now do the following:

[code]

[2022-08-23 23:12] claytron opened #104 "Do not force order when option is not given"
## Describe Request:

In the [1.7.0](https://github.com/CircleCI-Public/ruby-orb/releases/tag/v1.7.0) release an `order` paramater was added. This defaults to `defined`. If you set this order in your rspec config either via `.rspec` or via `spec_helper.rb`, it is now overridden by the default in the `rspec-test` job.

This is an unexpected change in behavior when upgrading from `< 1.7.0`. Ideally

[2022-08-30 20:26] claytron commented on #82
I don't think this changes anything though as the key is just the prefix to the `save_cache` step:

https://github.com/CircleCI-Public/ruby-orb/blob/365d475512a3b4eafca54ece98a878f93aa49b30/src/commands/install-deps.yml#L45-L48

I think we'd need the changes in #103 before this will help.

[2022-10-12 16:50] krzyczak opened #108 "Run only specs with (or without) a specific tag"
## Describe Request:
I need to be able to run a subset of specs based on tag, as it is normally possible with RSpec.

## Examples:
- `rspec . --tag type:special`
- `bundle exec rspec --tag ~@js spec/features`

## Supporting Documentation Links:
https://relishapp.com/rspec/rspec-core/v/3-11/docs/command-line/tag-option

[2022-10-13 16:25] #108 closed

[2022-10-13 17:19] Jaryt commented on #104
Ah I now see as to why you removed the default since it was a breaking change. Going to consult my colleagues to see what's the best way to handle this.

[2022-10-13 17:27] Jaryt commented on #104
Followed up, since the breaking change has already been published, it's probably best to leave it rather than potentially breaking more projects that have adopted that default flag.

[2022-10-13 17:28] Jaryt commented on #82
#103 has been merged. Will publish a new minor version here shortly.

[2022-10-13 17:28] #82 closed

[2022-10-13 19:20] #53 closed, assigned to nobody

[2022-10-13 21:57] claytron commented on #104
I can understand not wanting to break it again, but with the current design, the orb will always override the choices of the project's config, which is not what was asked for in #64.

I could understand if the default was to set the order to `:random`, which is a typical best practice for CI. But for it to stomp on that choice by the project under test doesn't really make sense. I guess we'll just

[2022-10-14 14:39] Jaryt commented on #104
Going to reopen this as we will remove the default for the next major update.

[2022-10-14 14:40] Jaryt commented on #78
Going to close this as there was no community engagement on this issue and I was unable to reproduce.

[2022-10-14 14:40] #78 closed

[2022-10-14 18:23] Jaryt commented on #63
Closing - This issue has been resolved since #61

[2022-10-14 18:23] #63 closed

[2022-10-14 19:55] #88 closed

[2022-10-14 20:47] #67 closed

[2022-10-14 20:48] Jaryt commented on #67
This is now supported using the `override-cache-file` parameter

[2022-10-14 20:49] zspencer commented on #67
Thanks @Jaryt !!!

[2022-10-14 21:58] #81 closed

[2022-10-14 22:09] #104 closed

[2022-10-17 14:07] mkusaka opened #115 "Setup of ruby 2.7.6 in environment with cimg/base:2022.09 or later as base image causes gem install to fail"
## Orb version:

2.0.0 (also 1.8.0)

## What happened:

After updating cimg/node from 16.17.1 to 16.18.0, the gem installation failed in the environment set up with ruby/install. ruby version was 2.7.6.

Here is the configuration file that reproduces

[code]

ref. https://github.com/mkusaka/ruby-orb-issue-repro/blob/3a1188dac37599e24814c020058e3b71415c79c8/.circleci/config.yml

The error message w

[2022-10-17 14:14] Jaryt commented on #115
Hi @mkusaka Thank you for raising this!

I will look into working a solution into the orb asap.

[2022-10-17 14:59] Jaryt commented on #75
back logging this for now - going to escalate not having gpg on macos to our mac team.

[2022-10-17 16:38] Jaryt commented on #115
As stated in the associated PR, we'll be implementing the rvm package fix. bundle will also be configured with the rvm openssl directory. This should prevent any issues with packages that require ssl to install.

I'll be implementing the option to cache the rvm folder next so that the install is a onetime problem. This will also be beneficial for caching ruby versions as well.

[2022-10-17 16:47] #115 closed